

.slider-container {
    position: relative;
    width: 100%;
    max-width: 1550px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider {
    color: black;
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.slide {
    width: 220px;
    height: 200px;
    text-align: center;
    margin: 21px 5px;
    padding: 10px;
    transition: transform 0.3s ease;
    flex: 0 0 auto;
}


.slide:hover {
    transform: scale(1.1) rotate(-4deg);;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8px;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    user-select: none;
    background-color: rgba(119, 118, 118, 0.5);
    z-index: 10;
}

.prev {
    margin-right: 10px;
}

.next {
    margin-left: 10px;
}

